@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: black;
  background-color: white;
  padding: 20px;
  font-family: monospace, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 600px;
  margin-top: 7vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;

  backdrop-filter: blur(5px);
}

.neoBtn {
  border-radius: 2px;
  padding: 4px 10px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 4px 4px 0 1px black;
  transition: all 100ms;
  &:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0 0 black;
  }
}

.leaderBoardTable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  border-radius: 7px;
  max-width: 800px;
  box-shadow: 15px 15px 0px black;
  z-index: 20;

  @media screen and (max-width: 700px) {
    padding: 10px 5px;
  }

  input {
    padding: 5px 15px;
    border-radius: 2px;

    margin-bottom: 15px;
    outline: none;
    border: 2px solid black;
    box-shadow: 4px 4px 0 1px black;
    transition: all 100ms;
    &:focus {
      transform: translateY(4px);
      box-shadow: 1px 2px 0 0 black;
    }
  }

  table {
    margin: auto;

    border-radius: 7px;
    width: 100%;

    border-collapse: collapse;
    thead {
      background-color: var(--color-dark);
      color: var(--color-light);
      white-space: nowrap;
    }
    th,
    td {
      padding: 13px 5px;

      text-align: left;

      white-space: nowrap;

      @media screen and (max-width: 700px) {
        text-align: center;
      }
    }
    th {
      cursor: pointer;
    }

    tbody {
      svg {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: red;
        }
      }

      tr {
        &:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.06);
        }
      }
    }
  }
}

.pagination {
  display: flex;
  margin: 5px;
  margin-top: 20px;
  gap: 10px;
  justify-content: end;
}

.app-header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.right {
  display: flex;
  gap: 30px;
  align-items: center;

  button {
    padding: 5px 10px;
    cursor: pointer;

    transition: all 100ms;
    &:focus {
      transform: translateY(4px);
      box-shadow: 1px 2px 0 0 black;
    }
  }
}

.error {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5rem;
  background-color: #495057;
  border-radius: 7px;
  color: white;
}

img {
  width: 14rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button {
    padding: 10px 15px;
    border-radius: 2px;

    width: 100%;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 1px black;
    transition: all 100ms;
    &:focus {
      transform: translateY(4px);
      box-shadow: 1px 2px 0 0 black;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  gap: 10px;
  margin-top: 30px;

  input {
    padding: 5px 15px;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 1px black;
    width: 100%;
    outline: none;
    transition: all 100ms;
    &:focus {
      transform: translateY(4px);
      box-shadow: 1px 2px 0 0 black;
    }
  }
}

.questionForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  z-index: 20;
  h4 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    input {
      padding: 10px 15px;
      border-radius: 3px;
      border: 1px solid var(--color-darkest);
      outline: none;
    }

    textarea {
      padding: 10px 15px;
      border-radius: 3px;
      border: 1px solid var(--color-darkest);
      outline: none;
    }

    button {
      padding: 10px 15px;
      border-radius: 3px;
      border: 1px solid var(--color-darkest);
      outline: none;
      cursor: pointer;
    }
  }
}

.numberOfquestions {
  select {
    padding: 5px;
    border-radius: 2px;
    outline: none;
    margin-top: 7px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 4px 4px 0 1px black;
    transition: all 100ms;
    &:focus {
      transform: translateY(4px);
      box-shadow: 1px 2px 0 0 black;
    }
  }
  margin-bottom: 30px;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;

  grid-template-columns: auto auto;
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 9px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 30px;
}
::-webkit-progress-value {
  background-color: black;
  border-radius: 100px;
  transition: all 200ms;
}

.btn {
  display: block;

  color: inherit;

  border: 2px solid var(--color-dark);
  background-color: var(--color-light);
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: #ced4da6e;
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.options {
  display: flex;
  flex-direction: column;
}

.btn-option {
  width: 100%;
  text-align: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  border-left: 8px solid transparent;
  padding: 15px 20px;
}

.btn-option.correct {
  border-left: 6px solid rgba(25, 192, 25, 0.747);
}
.btn-option.wrong {
  border-left: 6px solid rgba(247, 8, 8, 0.918);
}

.answer {
  transform: translateX(1.2rem);
}

.result {
  color: black;
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;

  margin-bottom: 1.6rem;

  ul {
    list-style: none;
    margin: 60px 0;

    li {
      margin: 15px 0;
      display: flex;

      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    }
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-darkest);
  font-size: 1.4rem;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  border-radius: 7px;

  max-width: 600px;

  z-index: 20;
  h1 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    input {
      padding: 10px 15px;
      border-radius: 3px;
      border: 0.5px solid var(--color-darkest);
      outline: none;
      transition: all 100ms;
      border: 2px solid black;
      box-shadow: 4px 4px 0 1px black;
      &:focus {
        transform: translateY(4px);
        box-shadow: 1px 2px 0 0 black;
      }
    }

    button {
      padding: 10px 15px;
      border-radius: 3px;

      outline: none;
      margin-top: 15px;
      cursor: pointer;
      border: 2px solid black;
      box-shadow: 4px 4px 0 1px black;

      transition: all 100ms;
      &:focus {
        transform: translateY(4px);
        box-shadow: 1px 2px 0 0 black;
      }
    }
  }
}
